body {
    background-color: #fcfcfc;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;

}
.container {
    max-width: 600px;
    padding: 40px;
    text-align: right;
    align-items: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 25%;
    margin-top: 2%;
}
.container_2 {
    max-width: 600px;
    padding: 40px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:25%;
    margin-top: 2%;
}

.container_lateral {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}

h3{
    font-family: roboto, sans-serif;
    font-size: 25px;
}

a{
    text-decoration: none;
    color:white;    
}

textarea{
    padding: 1px;
    margin: px 0;
    border: 2px solid #ccc;
    border-radius: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"] {

    padding: 5px;
    margin: 0px 0;
    border: 2px solid #ccc;
    border-radius: 1px;
}

input[type="email"] {

    padding: 5px;
    margin: 0px 0;
    border: 2px solid #ccc;
    border-radius: 1px;
}

input[type="number"] {

    padding: 5px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 1px;
}
header {
    background-color: brown;
    color: whitesmoke;
    width: 100%;
    padding: 15px;
    text-align: center;
}

button {
    width: 166px;
    padding: 10px;
    margin: 2px 0;
    background-color: brown;
    color: whitesmoke;
    border-color: brown;
    border-radius: 10px;
}

button:hover {
    padding: 10px;
    margin: 2px 0;
    background-color: rgb(112, 29, 29);
    border-radius: 10px;
    cursor: pointer;
}